body {
	margin: 0;
	padding: 0;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
}

.container {
	width: 1000px;
	margin: auto;
}

.header {
	background-image: url("../images/main/banner_beta.png");
	height: 146px;
}

	.header1 {
		padding: 15px 5px 0 5px;
		float: left;
		width: 600px;
		letter-spacing: 10px;
		font-weight: bold;
		font-size: 18px;
	}
	
	.header2 {
		float: left;
		width: 300px;
	}
	
.vmenu {
	float: left;
	width: 180px;
	padding-top: 20px;
}

.content {
	float: left;
	width: 785px;
	min-height: 200px;
	padding: 20px 20px 40px 13px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

	h2 {
		margin: 0;
		font-variant: small-caps;
		font-size: 14px;
		background-color: #eee;
		padding: 3px;
	}
	
#footer {
	min-height: 150px;
}
	
a, a:visited {
	color: #009;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.clearleft {clear: left;}
.clearright {clear: right;}

/* FORUM */
	
a.tag, a.tag:visited {
	font-size: 11px;
	color: #900;
	margin-left: 5px;
	text-decoration: none;
	letter-spacing: 1px;
	font-style: italic;
	font-weight: normal;
}

a.tag:hover {
	color: #b00;
	text-decoration: none;
}

a.topictitle, a.topictitle:visited {color: #333; font-weight: bold;}
a.topictitle:hover {text-decoration: underline;}

a.discussiontitle, a.discussiontitle:visited {color: #333; font-weight: bold;}
a.discussiontitle:hover {text-decoration: underline;}

a.button.grey, a.button.grey:visited {text-decoration: none; color: #444;}
a.button.grey:hover {text-decoration: none;}

a.button.blue, a.button.blue:visited {text-decoration: none; color: #fff;}
a.button.blue:hover {text-decoration: none;}

.notif {width: 13px; height: 13px; text-align: center; padding: 2px; display: inline-block;}
.notif_nonew {background-color: #eee; color: #000;}
.notif_new {background-color: #d00; color: #fff;}	

.button {
	padding: 0 8px;
	margin: 3px;
	line-height: 27px;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	font-weight: bold;
	font-size: 11px;
	display: inline-block;
	cursor: default;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.button:hover {
	cursor: pointer;
}

.button:active {
	box-shadow: inset 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 1px 2px rgba(0, 0, 0, 0.1);
}

.button:focus {
	border: 1px solid transparent;
	outline: 0 transparent;
}

.grey {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-image: -webkit-linear-gradient(top,#f5f5f5,#F1F1F1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#F1F1F1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#F1F1F1);
	background-image: -o-linear-gradient(top,#f5f5f5,#F1F1F1);
	background-image: linear-gradient(top,#f5f5f5,#F1F1F1);
	color: #444;
}

.grey:hover {
	border: 1px solid #c6c6c6;
}

.blue {
	border: 1px solid #3079ed;
	background-image: -webkit-linear-gradient(top,#4d90fE,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fE,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fE,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fE,#4787ed);
	background-image: linear-gradient(top,#4d90fE,#4787ed);
	color: #fff;
}

.blue:hover {
	border: 1px solid #2f5bb7;
	background-image: -webkit-linear-gradient(top,#4d90fE,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fE,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fE,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fE,#357ae8);
	background-image: linear-gradient(top,#4d90fE,#357ae8);
}

.icon12 {margin-bottom: -2px;}

.options {position: absolute; top: 14px; right: 5px; display: none; width: 250px; text-align: right; padding-right: 5px;}
.options a, .options a:visited {text-decoration: none; color: #666; font-style: italic;}
.options a:hover {text-decoration: underline;}
